@import "colors";
@import "variables";

/* Regles generales */
*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;/* 14px par défaut */
  font-family: 'Noto sans', sans-serif;
}

a, a:hover, a:visited {
  color: $white;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}
